<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/add.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
    <title>ADD_INFO</title>
</head>
<body>
    <header class="main-header">
        <h1>Registro de Nueva Informacion</h1>
        <nav>
            <ul>
                <li><a  class="regresar" method="POST" href="/principal">Regresar</a></li>
            </ul>
        </nav>
    </header>
    <form id='formulario' action="/add" method="post" id="addForm">
    <div class="container" >
        <div class="container-form">
            <div class="content-input">
                <legend>Datos personales</legend>
            <label  for="cedula">Cedula:</label>
            <input type="type" id="cdi_estu" name="cdi_estu" required maxlength="15">
          
            <label  for="nombres">Nombre Completo:</label>
            <input type="type" id="name_estu" name="name_estu" required maxlength="100">
           
            <label for="title" >Titulo del Proyecto:</label>
            <input type="text" id="title_project" name="title_project" required>

            <label for="periodo">Periodo:</label>
            <input type="type" id="periodo" name="periodo" required maxlength="10">

            <label for="name_tutor" >Nombre del Tutor:</label>
            <input type="type" id="name_tutor" name="name_tutor" required maxlength="100">
          
            <label for="contact_tutor">Contacto del Tutor:</label>
            <input type="type" id="contact_tutor" name="contact_tutor" required maxlength="100">

        </div>
        <div class="container-btn">
            <button href="/principal" type="submit" class="btn">Registrar</button>
        </div>
    </div>

</form>

<script>
    document.getElementById("addForm").addEventListener("submit", async function (e) {
        e.preventDefault(); // Evita el envío tradicional del formulario
    // Verificar si hay un parámetro de éxito en la URL
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('success') === 'true') {
      Swal.fire({
        title: '¡Éxito!',
        text: 'El proyecto ha sido agregado correctamente.',
        icon: 'success',
        confirmButtonText: 'Aceptar'
      }).then(() => {
        // Limpiar la URL después de mostrar la alerta
        const currentUrl = window.location.href.split('?')[0];
        window.history.replaceState(null, null, currentUrl);
      });
    }
});
  </script>
</body>
</html>
