@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
	font-family:'fuenteNueva';
	src:url(/fonts/ComicNeue-Regular.ttf);
}

:root {
    --color-primary: #0aa0f6;
    --color-table-data: #fafafa;
    --color-font-data: #ffffff;
    --color-delete: #f95959;
    --color-edit: #ffc93c;
    --color-cancel: #22313f;
    --color-border-input: #e7e7e7;
    --color-font-data-body: #272727;
    --azulito: #61abc6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    font: 19px 'fuenteNueva';
}

.header-page {
    width: 100%;
    height: 70px;
    background-color: var(--azulito);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .9rem;
    font: 18px 'fuenteNueva';
}

.profile {
    display: flex;
    gap: 4px;
    width: 100%;
    justify-content: flex-end;
    
}

.profile a {
    text-decoration: none;
    color:var(--color-table-data)
}

.content-child {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main {
    display: flex;
}

.panel {
    width: 300px;
    height: max-content;
    background: var(--azulito);
    margin: 1.8rem 0 0 .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: .4rem;
    gap: 10px;
}

.panel .information a {
    text-decoration: none;
    color: var(--color-table-data);
    display: flex;
    gap: 3px;
    align-items: center;
}

.panel .font-size {
    font-size: 1.2rem;
}

.panel img {
    width: 70px;
    height: 70px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: .7rem;
    font: 17px 'fuenteNueva';
}

.profile-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-table-data);
    font-weight: 600;
}

.tablehead_color {
    background-color: var(--azulito);
    text-align: left;
    color: var(--color-font-data);

}

.tablehead_color tr th {
    font-weight: 500;
}

.tablebody_color tr td {
    font-weight: 400;
    color: var(--color-font-data-body);
}

.tablehead_color tr th,
.tablebody_color tr td {
    padding: 6px 12px;

}

.tablebody_color tr:nth-child(even) {
    background-color: var(--color-table-data);
}

.table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -11px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Ajusta según necesidad */
    margin: 0 auto; /* Centra la tabla */
    overflow-x: auto; /* Scroll horizontal en móviles */
    padding: 1rem; /* Espaciado opcional */
}

.boton_one{
    margin-top: .2rem;
    cursor: pointer;
    padding: .3rem;
    border-radius: 4px;
    border: 0; color: white;
    background-color: rgb(0, 64, 107);
    font: 15px 'fuenteNueva';
}

.button_add {
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--color-font-data);
    background-color: var(--azulito);
    padding: .2rem .7rem;
    border-radius: 5px;
    position: relative;
    transition: padding-left .3s ease;
}

.button_add svg {
    width: 15px;
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
}


.button_add:hover {
    padding-left: calc(.7rem * 2);
    transition: padding-left .3s ease;
}


.button_add:hover svg {
    transform: translateX(-1.05rem);
    opacity: 1;
    transition: opacity .3s ease, transform .3s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font: 10px 'fuenteNueva';
}

.button_edit,
.button_delete {
    text-decoration: none;
}

.button_delete {
    color: var(--color-delete);

}

.button_edit {
    color: var(--color-edit);
}

.img {
    border-radius: 3px;
    display: inline-flex;
    padding: .2rem;
    transition: color .25s ease, background-color .25s ease;
}


.button_delete:hover>.img {
    background-color: var(--color-delete);
    color: var(--color-font-data);
    transition: color .25s ease, background-color .25s ease, transform .25s ease;
    transform: scale(1.1);

}


.button_edit:hover>.img {
    background-color: var(--color-edit);
    color: var(--color-font-data);
    transition: color .25s ease, background-color .25s ease, transform .25s ease;
    transform: scale(1.1);
}


.title {
    font: 2.5rem 'fuenteNueva';
    display: flex;
    gap: 8px;
}

.father-table_content{
    font: 19px 'fuenteNueva';
}

.lista {
    transform: translateX(-2rem);
    animation: position .6s ease forwards;
    opacity: 0;
    animation-delay: .1s;
}

.de {
    transform: translateY(-1.5rem);
    animation: position-de .6s ease forwards;
    animation-delay: .2s;
    opacity: 0;
}

.proyectos {
    transform: translateX(2rem);
    animation: position-de-usuarios .6s ease forwards;
    animation-delay: .3s;
    opacity: 0;
}

.button {
    transform: translateY(-1rem);
    animation: button .8s ease forwards;
    animation-delay: .4s;
    opacity: 0;
}

.father-table_content {
    transform: translateY(-1rem);
    animation: button .8s ease forwards;
    animation-delay: .5s;
    opacity: 0;
}


@keyframes button {
    0% {
        transform: translateY(-.8rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes position-de-usuarios {
    0% {
        transform: translateX(2rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes position-de {
    0% {
        transform: translateY(-1.5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes position {
    0% {
        transform: translateX(-2rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.content-father {
    width: 100%;
}

.content-father-form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-child {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.336);
    padding: 3rem;
    color: var(--color-font-data-body);
}

.input-content {
    display: flex;
    flex-direction: column;
}

.input-content input{
    font: 16px 'fuenteNueva';
}

.input-content input,
.input-content select {
    border: 0;
    outline: none;
    padding: .35rem 1rem;
    margin-bottom: 2.5rem;
    margin-left: 80px;
    border-radius: 5px;
}


.form-label {
    position: absolute;
    padding: .35rem;
    margin-left: 80px;
    transform: translateY(-.1rem);
    pointer-events: none;
    transition: transform .3s ease, font-size .3s ease;
}


.input-content select,
.input-content input:focus,
.input-content input:valid,
.input-content input:read-only,
.input-content input[type="date"],
.input-content input[type="datetime-local"] {
    border: 2px solid var(--azulito);
    transition: border .3s ease;
}

.input-content select ~ label,
.input-content input:focus ~ label,
.input-content input:read-only ~ label,
.input-content input:valid ~ label,
.input-content input[type="date"] ~ label,
.input-content input[type="datetime-local"] ~ label {
    background-color: var(--azulito);
    color: var(--color-font-data);
    border-radius: 3px;
    padding: .1rem .3rem;
    transform: translate(-0.4rem, -1.1rem);
    font-size: 16px;
    transition: transform .3s ease, font-size .3s ease, color .2s ease, background-color .2s ease;
}


@media screen and (max-width:1140px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
